body {
  font-family: sans-serif;
  color: rgb(2, 28, 47);
  background-color: rgb(69, 125, 165);
}

h1, h2, label, p {
  margin-left: 35px;
}

h1 {
  margin-bottom: 40px;
  margin-right: 35px;
  background-color:rgb(254, 192, 110);
  border-radius: 10px;
  padding: 20px;
}

h2 {
  margin-top: 40px;
}

th,td {
  border: 3px solid rgb(57, 103, 135);
  padding: 8px;
}

thead {
  background-color: rgb(2, 28, 47);
  color: antiquewhite;
}

.cell-highlight {
  background-color: gold;
  font-weight: bold;
}

tbody tr:nth-child(odd) {
  background-color: #fff;
}

tbody tr:nth-child(even) {
  background-color: #eee;
}

img {
  width: 75px;
  border-radius: 50%;
}

ul {
  margin-left: none;
}

li {
  list-style: none;
  margin-bottom: 15px;
  margin-left: none;
}

.links {
  margin-left: none;
  text-decoration: none;
  color: rgb(2, 28, 47);
}

button {
  background-color: antiquewhite;
  color: rgb(57, 103, 135);
  border-radius: 10px;
  border-style: none;
  margin-left: 20px;
  height: 30px;
  width: 60px;
  font-weight: bold;
}

input {
  border-radius: 10px;
  height: 25px;
  border-style: none;
  width: 300px;
margin-left: 10px;
}